#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  -webkit-transition: -webkit-filter 500ms linear;
  transition: filter 500ms linear;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a .logo {
    animation: logo-spin infinite 0.5s linear;
  }
}

.card {
  padding: 2em;
  margin: 1em;
  background-color: var(--card-bg-color);
}

/* TODO: unused code / can be remove */
.read-the-docs {
  color: #888;
}

@media (prefers-color-scheme: light) {
  .read-the-docs {
    color: #0f0f0f;
  }
}
