.app-title {
  background: -webkit-linear-gradient(#00d8ff, #bd34fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @apply text-4xl font-bold text-center;
}

.app-container {
  @apply container mx-auto p-4 flex flex-col gap-8 h-screen justify-center;
}

.logo {
  height: 11em;
  padding: 1.5em;
  will-change: filter;
  -webkit-transition: -webkit-filter 500ms linear;
  transition: filter 500ms linear;
}
.logo--small {
  @apply p-0 h-8;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a .logo {
    animation: logo-spin infinite 0.5s linear;
  }
}

.card {
  padding: 2em;
  margin: 1em;
  background-color: var(--card-bg-color);
  max-width: 80vw;
}
.card > code {
  word-break: break-all;
}

/* TODO: unused code / can be remove */
.read-the-docs {
  color: #888;
}

@media (prefers-color-scheme: light) {
  .read-the-docs {
    color: #0f0f0f;
  }
}
