@tailwind base;
@tailwind components;
@tailwind utilities;

/* define color */
:root {
  --color: rgba(255, 255, 255, 0.87);
  --bg-color: #242424;
  --a-color: #646cff;
  --a-color--hover: #535bf2;
  --code-color: #000;
  --card-bg-color: #1e1e1e;
}

@media (prefers-color-scheme: light) {
  :root {
    --color: #213547;
    --bg-color: #fff;
    --a-color: #646cff;
    --a-color--hover: #747bff;
    --code-color: #fff;
    --card-bg-color: #f1f1f1;
  }
}

/* css */
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  color: var(--color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  @apply w-full;
}

a {
  font-weight: 500;
  color: var(--a-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--a-color--hover);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

code {
  background: var(--code-color);
}

/* TODO: unused code / can be remove */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.code-block {
  @apply mockup-code bg-[#1a1a1a];
}

.docs-wrapper {
  @apply flex flex-col gap-8;
}

.docs-wrapper h1 {
  @apply text-3xl lg:text-6xl overflow-x-auto;
}

/* Override daisyui */
.btn {
  font-size: 1rem;
  text-transform: initial;
}
/* ---------------- */
